<h2>Forgot Password</h2>

<%= form_with url: password_resets_path, local: true do %>
  <div>
    <%= label_tag :email, "Email:" %>
    <%= email_field_tag :email %>
  </div>
  <div>
    <%= submit_tag "Send Reset Instructions" %>
  </div>
<% end %>
<p><%= link_to "Back to Login", login_path %></p>
